/* start of style of classes used in all html files*/
@font-face {
    font-family: 'Raleway';
    src: url('fonts/1Ptsg8zYS_SKggPNyCg4Q4FqPfE.woff2') format('woff2'),
         url('fonts/1Ptsg8zYS_SKggPNyCg4QIFqPfE.woff2') format('woff2'),
         url('fonts/1Ptsg8zYS_SKggPNyCg4QoFqPfE.woff2') format('woff2'),
         url('fonts/1Ptsg8zYS_SKggPNyCg4SYFqPfE.woff2') format('woff2'),
         url('fonts/1Ptsg8zYS_SKggPNyCg4TYFq.woff2') format('woff2'),
         url('fonts/1Ptug8zYS_SKggPNyC0ITw.woff2') format('woff2'),
         url('fonts/1Ptug8zYS_SKggPNyCAIT5lu.woff2') format('woff2'),
         url('fonts/1Ptug8zYS_SKggPNyCIIT5lu.woff2') format('woff2'),
         url('fonts/1Ptug8zYS_SKggPNyCkIT5lu.woff2') format('woff2'),
         url('fonts/1Ptug8zYS_SKggPNyCMIT5lu.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap; /* Verhindert FOIT, verbessert Ladezeit */
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

main {
    flex-grow: 1;
}

a {
    font-size: 16px;
    text-decoration: none;
    color: rgb(64,59,59);
    font-weight: bold;
    cursor: pointer;
}

h1 {
    font-size: 48px;
    margin: 0;
}

h2 {
    font-size: 32px;
    margin: 0;
}

p {
    font-size: 16px;
    color: rgb(64,59,59);
    margin: 0;
}

.button {
    background-color:rgb(2,128,0);
    color: rgb(255,255,255);
    padding: 16px 64px;
    cursor: pointer;
    border-width: 0;
}

.button:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

figure {
    margin: 0;
}

figcaption {
    text-align: center;
}

footer {
    background-color: rgb(64,59,59);
    height: 216px;
    padding: 64px 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav_header {
    height: 96px;  
    display: flex;    
    justify-content: space-between; 
    align-items: center;
    padding: 16px 180px; 
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.nav_menu {
    display: flex;
    align-items: end;
}
/* end of style of classes used in all html files (global)*/

/* start of style of classes used in index.html*/
.croissant_img {
    width: 500px;
    border-radius: 8px;
}

.menu_logo {
    height: 64px; 
}

.navLink {
    margin-left: 16px;
    margin-top: 48px;
}

.navLink:hover {
    color: rgb(2,128,0);
    text-decoration: underline;
    text-underline-offset: 16px;
    text-decoration-thickness: 4px;
}

.recept {
    padding: 80px 180px;
    display: flex;
}

.croissant_recept_container {
    display: flex;
    flex-direction: column;
    padding-left: 48px;
}

.croissant_discription {
    padding-top: 32px;
    padding-bottom: 120px;
}

.recept_wok_img {
    width: 240px;
    height: 232px;
    border-radius: 8px;
}

.fancyNew {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(239,239,239);
    padding: 0 180px;
    padding-top: 48px;
    padding-bottom: 88px;
}

.quickLink_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 32px;
    width: 100%;
}

.quickLink:hover {
    opacity: 0.7;
}

.plateVsSwok {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 180px;
    padding-top: 48px;
    padding-bottom: 80px;
}

.wok_container {
    display: flex;
    flex-direction: row;
    padding-top: 48px;
}

.wok_discription {
    padding-right: 48px;
    padding-top: 24px;
    font-size: 16px;
    text-align: left;
}

.mailLink {
    color: rgb(255,255,255);
    font-size: 12px;
    font-weight: lighter;
    margin-top: 3px;
}

.mailLink_container {
    display: flex;
    flex-direction: column;
    font-style: normal;
    text-align: center;
}

.copyright {
    color: rgb(255,255,255);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.footer_img {
    height: 40px;
    width: 40px;
}

.footer_impressum {
    font-size: 16px;
    color: rgb(255,255,255);
}
/* end of style of classes used in index.html*/

/* start of style of classes used in chili.html*/
.recept_header {
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 80px;
}

.chili_img {
    width: 100%;
    object-fit: cover;
    height: 200px;
    border-radius: 8px;
    margin: 32px 0; 
}

.recept_icon {
    height: 12px;
}

.info_icon_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    background-color: rgb(239,239,239);
    border-radius: 8px;
    padding: 0 16px;
}

.info_container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 32px;
}

.chili_recept {
    padding: 0 180px;
}

.seperator {
    background-color: rgb(239,239,239);
    height: 1px;
    width: 100%;
    margin-top: 56px;
}

#amount {
    border: 2px solid rgb(239,239,239);
    height: 42px;
    width: 200px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none; /*without standard focus ring*/
    transition: border 0.2s ease, box-shadow 0.2s ease;

}

#amount:focus {
    border: 2px solid rgb(239,239,239);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.portion_form {
    display: flex;
    align-items: center;
}

.label_amount {
    margin-right: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.ingredientsList {
    padding: 0;
    list-style-type: none;
}

li {
    padding: 16px 32px;
}

.ingredient {
    background: rgb(239,239,239);
    border-radius: 8px;
}

h3 {
    font-size: 24px;
    margin: 24px 0;
}

.preparation_text {
    text-align: justify;
}

h4 {
    font-size: 16px;
    margin-top: 32px;
    margin-bottom: 8px;
}

.nutritionalValue_header {
    font-size: 16px; 
    font-style: oblique;
    margin-bottom: 8px;
}

.nutritionalValue_table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-collapse: separate; /* Wichtig: Rahmen müssen getrennt sein */
    border-spacing: 16px;
    margin-bottom: 32px;
}

.nutritionalValue_info_header {
    text-align: center;
    background: rgb(239,239,239);
    border-radius: 8px;
    padding: 8px;
}

.nutritionalValue_info {
    text-align: center;
    background: rgb(2,128,0);
    color: white;
    border-radius: 8px;
    padding: 0 8px;
}

.profile_img {
    border-radius: 100%;
    width: 80px;
}

.creator_name {
    font-size: 24px;
    padding-left: 32px;
}

.profile_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 80px;
}
/* end of style of classes used in chili.html*/

/* start of style of classes used in impressum.html*/ 

.impressum_container {
    padding: 64px 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.impressum_header {
    margin-bottom: 24px;
    margin-top: 0;
    text-align: center;
}

.impressum_contact_header {
    margin-bottom: 16px;
    margin-top: 24px;
    text-align: center;
}

.border_impressum_contact_container {
    border: 4px solid rgb(239,239,239);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 64px;
    padding: 32px;
}

.impressum_text {
    text-align: center;
}

.link_impressum {
    color: rgb(64,59,59);
    font-size: 16px;
    font-weight: normal;
}

.link_impressum:hover {
    font-weight: bold;
}

/* end of style of classes used in impressum.html*/

/* start of style of classes used in contact.html*/
.contact_container {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0 180px;
}

.contact_form_container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 64px 0;
}

.contact_input {
    border: 2px solid rgb(239,239,239);
    width: 100%;
    margin: 8px 0;
    padding: 16px;
    outline: none; /*without standard focus ring*/
    transition: border 0.2s ease, box-shadow 0.2s ease;
    box-sizing: border-box;
    resize: none;
    border-radius: 8px;
}

.contact_input:focus {
    border: 2px solid rgb(239,239,239);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.contact_textarea {
    border: 2px solid rgb(239,239,239);
    resize: none;
    width: 100%;
    margin: 8px 0;
    padding: 20px;
    outline: none; /*without standard focus ring*/
    transition: border 0.2s ease, box-shadow 0.2s ease;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    border-radius: 8px;
}

.contact_textarea:focus {
    border: 2px solid rgb(239,239,239);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}
/* end of style of classes used in contact.html*/

/* start of style of classes used in send_mail.html*/

.sendMail_header {
    padding: 64px 180px;
}
/* 1. Home
- header;	Hintergrund: rgb(255,255,255)
		Schriftfarbe: rgb(64,59,59)
		Schriftfarbe Link: rgb(2,128,0)

- Sektion 1; 	Überschrift: französische Croissants: rgb(0,0,0)
		Hintergrund: rgb(255,255,255)
		Beschreibung: rgb(101,101,136)
		Button: rgb(2,128,0) (Button Text: rgb(255,255,255))

- Sektion 2;	Überschrift: Lust auf was Neues? rgb(0,0,0)
		Hintergrund: rgb(239,239,239)
		Rezept Titel: rgb(0,0,0)
- Sektion 3;	Überschrift: Pfanne vs. Wok – was ist besser: rgb(0,0,0)
		Hintergrund: rgb(255,255,255)
		Beschreibung: rgb(101,101,136)
- footer;	Hintergrund: rgb(64,59,59)

2. Rezeptseite
- Überschrift:						rgb(0,0,0)
- Hintergrund Dauer, Schwierigkeit & Datum: 	rgb(239,239,239)
- Text Dauer, Schwierigkeit & Datum:		rgb(0,0,0)
- Hintergrund Zutatenliste: 				rgb(255,255,255) & rgb(239,239,239)
- Text Zutatenliste:					rgb(0,0,0)

3. Kontaktseite
- Fomularhintergrund:				rgb(220,220,220)
- Kontaktieren sie uns:				rgb(35,35,35)
- Formularfelder:					rgb(255,255,255)
- Button Hintergrund:					rgb(2,128,0)
- Button Text:						rgb(255,255,255) */
