/* start of style of classes used in all html files*/
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/300/Raleway-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/400/Raleway-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/700/Raleway-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

.content {
    position: relative;
    overflow-x: hidden;
}

main {
    flex-grow: 1;
}

a {
    font-size: 16px;
    text-decoration: none;
    color: rgb(64,59,59);
    font-weight: bold;
    cursor: pointer;
}

h1 {
    font-size: 48px;
    margin: 0;
}

h2 {
    font-size: 32px;
    margin: 0;
}

h3 {
    font-size: 24px;
    margin: 24px 0;
}

h4 {
    font-size: 16px;
    margin-top: 32px;
    margin-bottom: 8px;
}

p {
    font-size: 16px;
    color: rgb(64,59,59);
    margin: 0;
}

.button {
    background-color:rgb(2,128,0);
    color: rgb(255,255,255);
    padding: 12px 64px;
    cursor: pointer;
    border-width: 0;
}

.button:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

figure {
    margin: 0;
}

figcaption {
    text-align: center;
}

input {
    font-family: 'Raleway', sans-serif;
    color: rgb(64,59,59);
    font-size: 16px;
}
footer {
    background-color: rgb(64,59,59);
    height: 216px;
    padding: 64px 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer_img_width {
    width: 160px;
}

.footer_maxWidth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    
}

.slogan_footer {
    color: white;
}

.nav_header {
    height: 96px; 
    display: flex;    
    justify-content: space-between; 
    align-items: center;
    padding: 16px 180px; 
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.header_maxWidth {
    max-width: 1440px;
    display: flex; 
    width: 100%;   
    justify-content: space-between; 
    align-items: center;
    margin: 0 auto;
}

.nav_menu {
    display: flex;
    align-items: end;
}

.hide_mobile_menu {
    display: none;
}

.resp_menu_box {
        display: none;
}

@media(min-width: 768px) and (max-width:1235px)
{
    .nav_header {
        padding: 16px 80px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    a {
        font-size: 14px;
    }

    p {
    font-size: 14px;
    }

    .button {
        padding: 12px 48px;
    }

    footer {
        padding: 64px 80px;
    }

    p {
    font-size: 14px;
    }
}

@media(min-width: 320px) and (max-width:767px)
{
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 20px;
        text-align: center;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 12px;
    }

    .marg_btn {
        padding: 8px 48px;
        margin-top: 32px;
    }

    p {
        font-size: 14px;
    }

    footer {
        padding: 64px 16px;
    }

    .nav_header {
        padding: 32px 16px;
    }

    .nav_menu {
        display: none;
    }

    .hide_mobile_menu_btn {
        display: block;
        background-color:rgb(2,128,0);
        color: rgb(255,255,255);
        padding: 8px 8px;
        cursor: pointer;
        border-width: 0;
        transform: rotate(90deg);
    }

    .hide_mobile_menu_btn:hover {
         box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    }

    .resp_menu_box {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 120px;
        height: 400px;
        position: absolute;
        top: 0;
        right: 0;
        transition: all 125ms ease-in-out;
        padding: 32px 0px;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    }

    .resp_menu_closed {
        transform: translateX(100%);

    }

    .hide_mobile_menu {
        display: block;
        background-color:rgb(2,128,0);
        color: rgb(255,255,255);
        padding: 8px 8px;
        cursor: pointer;
        border-width: 0;
        transform: rotate(90deg);
    }

    .hide_mobile_menu:hover {
         box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    }

    .nav_link_resp_box {
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    tbody {
        font-size: 12px;
    }

    a {
        font-size: 12px;
        text-align: center;
    }

}

/* end of style of classes used in all html files (global)*/

/* start of style of classes used in index.html*/
.recept_index_img {
    width: 500px;
    border-radius: 8px;
}

.display_none_receptImg {
     display: none;
}

.menu_logo {
    height: 64px; 
}

.navLink {
    margin-left: 16px;
    margin-top: 48px;
}

.navLink:hover {
    color: rgb(2,128,0);
        text-decoration: underline;
        text-underline-offset: 16px;
        text-decoration-thickness: 4px;
}

.recept {
    padding: 80px 180px;
    display: flex;
}

.recept_maxWidth {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
}

.recept_container {
    display: flex;
    flex-direction: column;
    padding-left: 48px;
}

.recept_discription {
    padding-top: 32px;
    padding-bottom: 120px;
}

.recept_wok_img {
    width: 280px;
    height: 240px;
    border-radius: 8px;
}

.fancyNew {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(239,239,239);
    padding: 0 180px;
    padding-top: 48px;
    padding-bottom: 88px;
    margin: 0 auto;
}

.quickLink_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 32px;
    width: 100%;
    max-width: 1440px;
}

.quickLink:hover {
    opacity: 0.7;
}

.plateVsSwok {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 180px;
    padding-top: 48px;
    padding-bottom: 80px;
}

.wok_container {
    display: flex;
    flex-direction: row;
    padding-top: 48px;
    max-width: 1440px;
    margin: 0 auto;
}

.wok_discription {
    padding-right: 48px;
    padding-top: 24px;
    font-size: 16px;
    text-align: left;
}

.mailLink {
    color: rgb(255,255,255);
    font-size: 12px;
    font-weight: lighter;
    margin-top: 3px;
}

.mailLink_container {
    display: flex;
    flex-direction: column;
    font-style: normal;
    text-align: center;
}

.copyright {
    color: rgb(255,255,255);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.footer_impressum {
    font-size: 16px;
    color: rgb(255,255,255);
}

@media(min-width: 768px) and (max-width:1235px)
{
    .recept_index_img {
        height: 250px;
    }

    .recept_container {
        padding-left: 24px;
    }

    .recept {
        padding: 80px 80px;
    }

    .recept_discription {
        padding-top: 16px;
        padding-bottom: 24px;
    }

    .display_none_receptImg {
        display: none;
    }

    .fancyNew {
        padding: 32px 80px;
    }

    .recept_wok_img {
        width: 180px;
        height: 140px;
    }

    .plateVsSwok {
        padding-left: 80px;
        padding-right: 80px;
    }

    .wok_discription {
        padding-right: 48px;
        padding-top: 16px;
        font-size: 14px;
    }
}

@media(min-width: 320px) and (max-width: 767px)
{
   .recept {
        padding: 80px 16px;
        flex-direction: column;
        align-items: center;
    } 

    .recept_container {
        padding-left: 0;
        align-items: center;
    }

    .text_align_respo {
        text-align: center;
    }

    .recept_discription {
        padding-bottom: 32px;
    }

    .recept_index_img {
        width: 100%;
    }

    .display_none_img {
        display: none;
    }

    .img_btn_container_repo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .display_none_receptImg {
        display: block;
    }

    .quickLink_container {
        flex-direction: column;
        align-items: center;
    }

    .quickLink {
        margin-bottom: 48px;
    }

    .fancyNew {
        padding-left: 16px;
        padding-right: 16px;
    }

    .recept_wok_img {
        width: 180px;
        height: 140px;
    }

    .plateVsSwok {
        padding-left: 16px;
        padding-right: 16px;
    }

    .wok_container {
        flex-direction: column;
    }

    .recept_wok_img_width {
        width: 100%;
        height: auto;
    }

    .wok_discription {
        font-size: 14px;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 16px;
        text-align: center;
    }

    .footer_impressum {
        font-size: 12px;
    }

    .copyright {
        font-size: 12px;
    }

    .mailLink {
        font-size: 10px;
    }

    .social_media {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu_logo {
        height: 32px; 
    }

    .navLink_resp:hover {
        color: rgb(2,128,0);
    }

    .footer_img_width {
        width: 120px;
    }

    .slogan_footer {
        font-size: 10px;
    }

}
/* end of style of classes used in index.html*/

/* start of style of classes used in chili.html*/
.recept_header {
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 80px;
}

.recept_header_maxWidth {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.recept_img {
    width: 100%;
    object-fit: cover;
    height: 200px;
    border-radius: 8px;
    margin: 32px 0; 
}

.recept_icon {
    height: 12px;
}

.info_icon_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    background-color: rgb(239,239,239);
    border-radius: 8px;
    padding: 0 16px;
}

.info_container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 32px;
}

.form_button_input {
    display: flex;
    align-items: center;
}

.recept_padding {
    padding: 0 180px;
    max-width: 1440px;
    margin: 0 auto;
}

.seperator {
    background-color: rgb(239,239,239);
    height: 1px;
    width: 100%;
    margin-top: 56px;
}

.portion_form {
    display: flex;
    align-items: center;
}

.label_amount {
    margin-right: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.input_calculate_portion {
    border: 2px solid rgb(239,239,239);
    height: 42px;
    width: 200px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none; /*without standard focus ring*/
    transition: border 125ms ease, box-shadow 125ms ease;
}

.input_calculate_portion:focus {
    border: 2px solid rgb(239,239,239);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.ingredientsList {
    padding: 0;
    list-style-type: none;
}

li {
    padding: 16px 32px;
}

.ingredient {
    background: rgb(239,239,239);
    border-radius: 8px;
}

.preparation_text {
    text-align: justify;
}

.nutritionalValue_header {
    font-size: 16px; 
    font-style: oblique;
    margin-bottom: 8px;
}

.nutritionalValue_table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-collapse: separate; /* Important: Borders have to been separate */
    border-spacing: 16px;
    margin-bottom: 32px;
}

.nutritionalValue_info_header {
    text-align: center;
    background: rgb(239,239,239);
    border-radius: 8px;
    padding: 8px;
}

.nutritionalValue_info {
    text-align: center;
    background: rgb(2,128,0);
    color: white;
    border-radius: 8px;
    padding: 0 8px;
}

.profile_img {
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

.creator_name {
    font-size: 16px;
    padding-left: 32px;
}

.profile_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 80px;
}

.ingredient_text {
    display: flex;
    flex-direction: row;
}

.textspace {
    margin-right: 4px;
}

@media(min-width: 768px) and (max-width:1235px)
{
    .recept_header {
        padding-left: 80px;
        padding-right: 80px;
    }

    .recept_padding {
    padding: 0 80px;
    } 

    #amount {
        height: 32px;
    }
}

@media(min-width: 320px) and (max-width:767px)
{
    .recept_header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
    }

    .recept_padding {
    padding: 0 16px;
    } 

    .info_container {
        flex-direction: column;
        align-items: center;
        gap: 8px;
        font-size: 14px;
    }

    .info_icon_container {
        width: 160px;
    }

    .seperator {
        margin-top: 16px;
    }

    .portion_form {
        flex-direction: column;
    }

    .label_amount {
        margin-bottom: 8px;
    }

    .input_calculate_portion {
        width: 80px;
    }

    .button {
        padding: 12px 24px;
    }

    .hide_mobile_form {
        margin-bottom: 32px;
    }

    .nutritionalValue_table {
        border-spacing: 4px;
    }

    .profile_img {
        width: 40px;
        height: 40px;
    }

    .creator_name {
        font-size: 12px;
    }

    ul {
        font-size: 14px;
    }
}
/* end of style of classes used in chili.html*/

/* start of style of classes used in impressum.html*/ 

.impressum_container {
    padding: 64px 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.impressum_header {
    margin-bottom: 24px;
    margin-top: 0;
    text-align: center;
}

.impressum_contact_header {
    margin-bottom: 16px;
    margin-top: 24px;
    text-align: center;
}

.header_margin {
    margin-top: 0;
}

.border_impressum_container {
    border: 4px solid rgb(239,239,239);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 64px;
    padding: 64px;
}

.impressum_text {
    text-align: center;
}

.link_impressum {
    color: rgb(64,59,59);
    font-size: 16px;
    font-weight: normal;
}

.link_impressum:hover {
    font-weight: bold;
}

@media(min-width: 768px) and (max-width:1235px)
{
    .impressum_container {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media(min-width: 320px) and (max-width: 767px)
{
    .impressum_text {
        font-size: 12px;
    }

    .link_impressum {
        font-size: 12px;
    }

    .impressum_container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .border_impressum_container {
        padding: 48px;
    }

    .border_impressum_contact_container {
        padding: 42px;
    }
    
}



/* end of style of classes used in impressum.html*/

/* start of style of classes used in contact.html*/
.contact_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 64px 180px;
}

.contact_form_container {
    display: flex;
    flex-direction: column;
    background-color: rgb(219,219,219);
}

.contact_input {
    border: 2px solid rgb(239,239,239);
    width: 100%;
    margin: 8px 0;
    padding: 16px;
    outline: none; /*without standard focus ring*/
    transition: border 125ms ease, box-shadow 125ms ease;
    box-sizing: border-box;
    resize: none;
    border-radius: 8px;
}

.contact_input:focus {
    border: 2px solid rgb(239,239,239);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.contact_textarea {
    border: 2px solid rgb(239,239,239);
    resize: none;
    width: 100%;
    margin: 8px 0;
    padding: 20px;
    outline: none; /*without standard focus ring*/
    transition: border 125ms ease, box-shadow 125ms ease;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    border-radius: 8px;
}

.border_contact_container {
    border-radius: 24px;
    padding: 32px;
}

.contact_textarea:focus {
    border: 2px solid rgb(239,239,239);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.button_padding_margin {
    margin: 0 54px;
}

@media(min-width: 768px) and (max-width:1235px)
{
    .contact_container {
        padding-left: 80px;
        padding-right: 80px;
    }

    .button_padding_margin {
        padding: 16px 64px;
    }
}

@media(min-width: 320px) and (max-width: 767px)
{
    .contact_container {
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .contact_input {
        padding: 4px;
    
    }

    .contact_textarea {
        padding: 4px;
        height: 120px;
        
    }

    .button_padding_margin {
        padding: 8px 8px;
    }

    .contact_form_container {
        height: 400px;
        width: 280px;
    }

}

/* end of style of classes used in contact.html*/

/* start of style of classes used in send_mail.html*/

.sendMail_header {
    padding: 64px 180px;
}

/* end of style of classe used in send_mail.html*/

/* start of style of classes used in ceasar.html*/

.titel_rezept {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-weight: lighter;
    padding-top: 30px;
}

.section1 {

    display: flex;
    margin-left: 70px;
    margin-right: 70px;
    flex-direction: column;
}

.salat {
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    border-radius: 5px;
    object-fit: cover;
}

.uhr {
    display: flex;
    height: 7px;
    width: 7px;
    padding-bottom: 1px;
    margin-right: 3px;
}

.uhr_kasten {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 15px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
    padding-top: 3px;
    width: fit-content;
    height: fit-content;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
}

.text_kasten {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-size: 8px;
    margin: 0;

}

.hirn {
    display: flex;
    height: 7px;
    width: 7px;
    padding-bottom: 1px;
    margin-right: 3px;
}

.hirn_kasten {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 10px;
    margin-top: 15px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
    padding-top: 3px;
    width: fit-content;
    height: fit-content;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
}

.datum {
    display: flex;
    height: 7px;
    width: 7px;
    padding-top: 1px;
    align-items: center;
    margin-right: 5px;
}

.datum_kasten {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 10px;
    margin-top: 15px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
    padding-top: 3px;
    width: fit-content;
    height: fit-content;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
}


.reihenfolge_kasten {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.hr_linie {
    display: flex;
    height: 1px;
    padding-right: 0;
    margin-top: 30px;
    background-color: rgb(240, 240, 240);
}

.zutaten {
    display: flex;
    margin-left: 70px;
}

.portionen_berechnung {
    display: flex;
    align-items: center;
}



.text_berechnung {
    display: flex;
    font-style: "Raleway", sans-serif;
    font-size: 13px;
    padding-top: 5px;
    padding-right: 8px;
    border-style: 1px;

}

.anzahl_portionen {
    display: flex;
    margin-top: 5px;
    width: 110px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    outline: none;
    border-style: 1px;
    border-color: rgb(240, 240, 240);
}

.portionen {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    background-color: #008000;
    color: white;
    border-color: transparent;
    margin-top: 5px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    height: 21px;
    width: 100px;
}

.rezept_liste {
    margin-left: 70px;
    margin-right: 70px;
    padding-left: 0;
    list-style-type: none;
}

.einzelne_zutaten1 {
    font-family: "Raleway", sans-serif;
    background-color: rgb(240, 240, 240);
    font-size: 10px;
    font-weight: lighter;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;


}

.einzelne_zutaten2 {
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;


}

.zubereitung {
    margin-left: 70px;
}

.zubereitung_titel {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    margin-bottom: 7px;
}

.zubereitung_text {
    font-family: "Raleway", sans-serif;
    font-size: 9px;
}

.uhr_kasten_section3 {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 0;
    margin-bottom: 8px;
    margin-right: 10px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
    padding-top: 3px;
    width: fit-content;
    height: fit-content;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);


}

.rezept_erstellt {
    font-family: "Raleway", sans-serif;
    font-size: 11px;
    padding-top: 10px;
    flex-direction: row;
}

.rezept_ersteller {
    display: flex;
    flex-direction: row;
    margin-top: 15px;

}

.ersteller_bild {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.name_ersteller {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: lighter;
    align-items: center;
    text-align: center;
    padding-left: 25px;
}