@font-face {
    font-family: 'Raleway';
    src: url('fonts/1Ptsg8zYS_SKggPNyCg4Q4FqPfE.woff2') format('woff2'),
         url('fonts/1Ptsg8zYS_SKggPNyCg4QIFqPfE.woff2') format('woff2'),
         url('fonts/1Ptsg8zYS_SKggPNyCg4QoFqPfE.woff2') format('woff2'),
         url('fonts/1Ptsg8zYS_SKggPNyCg4SYFqPfE.woff2') format('woff2'),
         url('fonts/1Ptsg8zYS_SKggPNyCg4TYFq.woff2') format('woff2'),
         url('fonts/1Ptug8zYS_SKggPNyC0ITw.woff2') format('woff2'),
         url('fonts/1Ptug8zYS_SKggPNyCAIT5lu.woff2') format('woff2'),
         url('fonts/1Ptug8zYS_SKggPNyCIIT5lu.woff2') format('woff2'),
         url('fonts/1Ptug8zYS_SKggPNyCkIT5lu.woff2') format('woff2'),
         url('fonts/1Ptug8zYS_SKggPNyCMIT5lu.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap; /* Verhindert FOIT, verbessert Ladezeit */
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

header {
    height: 64px;  
    display: flex;    
    justify-content: space-between; 
    align-items: center;
    padding: 0 64px; 
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

a {
    font-size: 12px;
    text-decoration: none;
    color: rgb(64,59,59);
    font-weight: bold;
    cursor: pointer;
}

.navLink:hover {
    color: rgb(2,128,0);
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 3px;
}

nav {
    display: flex;
    align-items: end;
}

h2 {
    font-size: 20px;
    margin: 0;
}

p {
    font-size: 12px;
    color: rgb(64,59,59);
    margin: 0;
}

button {
    background-color:rgb(2,128,0);
    border: none;
    color: rgb(255,255,255);
    padding: 8px 48px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

figure {
    margin: 0;
}

figcaption {
    text-align: center;
}

.croissant_img {
    width: 280px;
    border-radius: 8px;
}

.menu_logo {
    height: 48px; 
}

.navLink {
    margin-left: 16px;
    margin-top: 32px;
}
.recept {
    padding: 48px 64px;
    display: flex;
}

.croissant_recept_container {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}

.croissant_discription {
    padding-top: 16px;
    padding-bottom: 48px;
}

.recept_wok_img {
    width: 140px;
    height: 120px;
    border-radius: 8px;
}

.fancyNew {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(239,239,239);
    padding: 32px 64px;
}

.quickLink_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 16px;
    width: 100%;
}

.quickLink:hover {
    opacity: 0.7;
}

.plateVsSwok {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 64px;
    padding-top: 32px;
    padding-bottom: 80px;
}

.wok_container {
    display: flex;
    flex-direction: row;
    padding-top: 24px;
}

.wok_discription {
    padding-right: 24px;
    padding-top: 8px;
}

/* 1. Home
- header;	Hintergrund: rgb(255,255,255)
		Schriftfarbe: rgb(64,59,59)
		Schriftfarbe Link: rgb(2,128,0)

- Sektion 1; 	Überschrift: französische Croissants: rgb(0,0,0)
		Hintergrund: rgb(255,255,255)
		Beschreibung: rgb(101,101,136)
		Button: rgb(2,128,0) (Button Text: rgb(255,255,255))

- Sektion 2;	Überschrift: Lust auf was Neues? rgb(0,0,0)
		Hintergrund: rgb(239,239,239)
		Rezept Titel: rgb(0,0,0)
- Sektion 3;	Überschrift: Pfanne vs. Wok – was ist besser: rgb(0,0,0)
		Hintergrund: rgb(255,255,255)
		Beschreibung: rgb(101,101,136)
- footer;	Hintergrund: rgb(64,59,59)

2. Rezeptseite
- Überschrift:						rgb(0,0,0)
- Hintergrund Dauer, Schwierigkeit & Datum: 	rgb(239,239,239)
- Text Dauer, Schwierigkeit & Datum:		rgb(0,0,0)
- Hintergrund Zutatenliste: 				rgb(255,255,255) & rgb(239,239,239)
- Text Zutatenliste:					rgb(0,0,0)

3. Kontaktseite
- Fomularhintergrund:				rgb(220,220,220)
- Kontaktieren sie uns:				rgb(35,35,35)
- Formularfelder:					rgb(255,255,255)
- Button Hintergrund:					rgb(2,128,0)
- Button Text:						rgb(255,255,255) */